<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.ukma.springproject.logger" status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT"/>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
