<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Game Store</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/components.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body class="body-container">
<!-- HEADER -->
<header th:insert="home :: header">
</header >
<!-- HEADER -->

<!-- MAIN -->
<main>
    <div class="products-container">
        <div class="products-bar">
            <div class="filters-container">
                <select>
                    <option>select</option>
                    <option>select</option>
                    <option>select</option>
                </select>
                <select>
                    <option>select</option>
                    <option>select</option>
                    <option>select</option>
                </select>
            </div>

            <div class="sorting-container">
                <div class="categories-container">
                    <select>
                        <option>select</option>
                        <option>select</option>
                        <option>select</option>
                    </select>
                </div>
            </div>
        </div>

        <div th:each="app: ${applications}" class="product-card-container">
            <div class="product-image-container">
                <img class="p-card-image" th:src="@{/images/product-default-img.png}">
            </div>
            <div class="product-info-container">
                <div class="p-card-header">
                    <a th:text="${app.name}"  class="p-card-title"></a>

                    <div sec:authorize="hasRole('ADMIN')">
                        <form method="POST" th:action="@{/applications/publish}">
                            <input hidden name="applicationId" type="number" th:value="${app.id}">
                            <button type="submit" class="transparent-button">PUBLISH</button>
                        </form>
                    </div>


                </div>

                <div class="genres-container">
                    <span th:each="gen: ${app.genres}"
                          th:text="${gen.name}"
                          class="p-card-genre"></span>
                </div>
                <hr>
                <div class="description-container">
                    <p th:text="${app.description}">
                        <span th:text="${app.price}" class="p-card-price"></span>
                </div>

            </div>
        </div>





    </div>
</main>
<!-- MAIN -->

<!-- FOOTER -->
<footer th:insert="home :: footer">
</footer>
<!-- FOOTER -->
</body>

</html>
