<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <title>Game Store</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/components.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body class="body-container">
<!-- HEADER -->
<header th:insert="home :: header">
</header>
<!-- HEADER -->

<!-- MAIN -->
<main>

    <div class="profile-container">
        <!-- LEFT BAR -->
        <div class="profile-left-bar">

            <div class="profile-options-container">
                <div>

                </div>


            </div>


        </div>
        <!-- LEFT BAR -->


        <!-- RIGHT BAR -->
        <div class="profile-right-bar">
            <div class="profile-image-container">
                <img class="profile-image" th:src="@{http://localhost:8080/getImage}"
                     width="200" height="200">
            </div>
            <!--            <div class="profile-balance-container">-->
            <!--                <span>BALANCE: 0.0$</span>-->
            <!--            </div>-->
            <form method="post" class="edit-form"
                  th:action="@{/profile/update}" enctype="multipart/form-data" th:object="${user}">
                <div class="form-file-field form-field">
                    <label class="form-file-field-label" style="width: 400px; height: 35px;" for="imageInput">Select
                        image...</label>
                    <input type="file" accept="image/*" name="image" id="imageInput">
                </div>

                <div class="form-field">
                    <input type="text" name="userName" th:field="*{username}" th:placeholder="${user.username}">
                </div>
                <div class="form-field">
                    <input type="email" name="email" th:field="*{email}" th:placeholder="${user.email}">
                </div>
                <div class="form-field">
                    <input type="number" name="balance" th:field="*{balance}" th:placeholder="${user.balance}">
                </div>
                <div class="form-field">
                    <input type="password" name="password" placeholder="password">
                </div>

                <p>You will be redirected to a login page after editing your profile information</p>
                <button class="transparent-button" type="submit" id="edit-button">Edit</button>

            </form>

            <div class="profile-options-container">
                <div sec:authorize="hasRole('ADMIN')" class="op-f">
                    <form method="get" class="add-form" th:action="@{/admin/addAdmin}">
                        <input type="text" name="email" placeholder="Enter email...">
                        <button type="submit" class="add-btn">Add admin</button>
                    </form>
                </div>
                <div sec:authorize="hasRole('ADMIN')" class="op-f">
                    <form method="get" class="add-form" th:action="@{/admin/addDev}">
                        <input type="text" name="email" placeholder="Enter email...">
                        <button type="submit" class="add-btn">Add developer</button>
                    </form>
                </div>
                <div>
                </div>
                <!-- RIGHT BAR -->
            </div>
        </div>
    </div>


</main>
<!-- MAIN -->

<!-- FOOTER -->
<footer th:insert="home :: footer">
</footer>
<!-- FOOTER -->

</body>


</html>
